.pagetype-checkout {
    .cartDrawer {
        $header-height: calc(117px - 57px); //todo: hardcoded for now.. 57px is the height of global banner

        bottom: unset;
        margin: 0;
        top: $header-height;

        figure {
            display: none;
        }

        &-body {
            display: flex;
            white-space: nowrap;

            h3 {
                font-size: remCalc(20px);
            }

            a {
                margin-left: 1rem;
            }
        }


        &-actions {
            h3 {
                font-size: remCalc(24px);
            }
        }

    }
}
